@use 'reset-css';

html {
  box-sizing: border-box;
  background-color: #f6f3ee;
  scroll-behavior: smooth;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

/* Druk Bold */
@font-face {
  font-family: 'Druk';
  src: url('assets/fonts/DrukBold.otf') format('opentype');
  font-style: bold;
}
